//
//  Production.xcconfig
//  GoCook
//
//  Created by Oleksii Andriushchenko on 12.06.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Go Cook
APP_ENVIRONMENT = production
PRODUCT_BUNDLE_IDENTIFIER = com.uptech.gocook
